
#map_base {
  position:relative;
  max-width:100%;
  top:0;
  left:0%;
}
#map_base  img {
  max-width:100%;
  pointer-events:none;
}
.note {
  position:absolute;
}

.note span.mark {
  display:inline-block;
  position:absolute;
  top:-0.3em;
  left:-0.3em;
  cursor:pointer;
  border-radius:50%;
  width:0.3em;
  height:0.3em;
  background-color:red;
}

.note span.camera_name {
  display:none;
  position:absolute;
  right:-3em;
  top:1em;
  padding: 2px;
  color: aliceblue;
  border-radius: 5px;
  background-color:purple;
  width:6em;
  font-size: 12px;
  text-align: center;
}

.note:hover span.camera_name {
  display: inline;
}
